<p style="color: green"><%= notice %></p>

<%= render @admin_user_favorite_player %>

<div>
  <%= link_to "Edit this user favorite player", edit_admin_user_favorite_player_path(@admin_user_favorite_player) %> |
  <%= link_to "Back to user favorite players", admin_user_favorite_players_path %>

  <%= button_to "Destroy this user favorite player", @admin_user_favorite_player, method: :delete %>
</div>
