<div class="row">
    <h1 id="players" class="col-12 mb-4">Players</h1>
</div>
<%= render partial: "admin/pages/endpoints/players" %>

<div class="row">
    <h1 id="favorite-players" class="col-12 mb-4">Favorite Players</h1>
</div>
<%= render partial: "admin/pages/endpoints/favorite_players" %>

<div class="row">
    <h1 id="notifications" class="col-12 mb-4">Notifications</h1>
</div>
<%= render partial: "admin/pages/endpoints/notifications" %>


<div class="row">
    <h1 id="teams" class="col-12 mb-4">Teams</h1>
</div>
<%= render partial: "admin/pages/endpoints/teams" %>


<div class="row">
    <h1 id="triggers" class="col-12 mb-4">Triggers</h1>
</div>
<%= render partial: "admin/pages/endpoints/triggers" %>