<p style="color: green"><%= notice %></p>

<%= render @admin_player %>

<div>
  <%= link_to "Edit this player", edit_admin_player_path(@admin_player) %> |
  <%= link_to "Back to players", admin_players_path %>

  <%= button_to "Destroy this player", @admin_player, method: :delete %>
</div>
