<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="h2 d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        PlayerNotify
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        
        <li><%= link_to "Home", root_path, class: "nav-link px-2 link-dark" %></li>
        <li><%= link_to "Players", supporter_players_path, class: "nav-link px-2 link-dark" %></li>        
        
    </ul>

    <div class="col-md-3 text-end">        
        <% if current_user %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary me-2" %>                    
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary me-2" %>        
            <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-primary" %>            
        <% end %>
    </div>
    </header>
</div>