<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= player.number %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= player.nationality %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= player.birthdate %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= player.position %>
  </p>

</div>
